@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.track__cover-container {
  width: 60px;
  height: 60px;
}

.track__item {
  border-top: 1px solid #dee2e6;
}

@include media-breakpoint-up(md) {
  .track__item--md {
    border-top: 1px solid #dee2e6;
  }
}
